{% extends 'shop_main.html' %}
{% load static %}
{% block content %}
{% for item in food_name %}
<div class="bx__wrapper">
    <ul class="food__list">
        <li class="anchor__box">
            <div class="thumbnail">
                <a href="#" name="anchor__box__1">
                    <img class="anchor__box__img" src="{{item.imageURL}}">
                </a>
            </div>
            <div class="description">
                <strong class="name">
                    <a href="#" class="food__name">{{item.name}}</a>
                </strong>
                <strong class="price">
                    <h3>${{item.price}}</h3>
                </strong>
                <hr>
                <button data-food={{id.id}} data-action="add" class="btn btn-outline-dark add-btn update-cart"
                    id="cart_btn">Add to
                    Cart</button>
                <a class="btn btn-outline-success" href="#" id="view_btn">View</a>
            </div>
        </li>
    </ul>
</div>
{% endfor %}
{% endblock content %}