{% extends 'shop_main.html' %}
{% load static %}
{% block content %}
<section>
    <div class="title">
        <h2><span>Cart</span></h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-30">
            <div class="box-element">
                <a class="btn btn-outline-dark " href="{% url 'store' %}">&#x2190; Go to Main Page</a>
                <br>
                <br>
                <div class="cart-row">
                    <div><strong>Image:</strong></div>
                    <div><strong>Item:</strong></div>
                    <div><strong>Price:</strong></div>
                    <div><strong>QTY:</strong></div>
                    <div><strong>Total</strong></div>
                    <div><strong>Order:</strong></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div><img class="row-image" src="{{item.food.imageURL}}"></div>
                    <div>{{item.food.name}}</div>
                    <div>${{item.food.price}}</div>
                    <div>
                        <p class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <img data-food={{item.food.id}} data-action="add" class="chg__quantity update-cart"
                                src="{% static 'images/up_arrow.png'%}" alt="up arrow">
                            <img data-food={{item.food.id}} data-action="remove" class="chg__quantity update-cart"
                                src="{% static 'images/down_arrow.png'%}" alt="down arrow">
                        </div>
                    </div>
                    <div>${{item.get_total}}</div>
                    <div><a href="{% url 'buy_it_now'%}" class="btn btn-dark" id="buy__button">Buy it now</a></div>
                </div>
                {% endfor %}
                <div class="total__order">
                    <h5 id="total__order__price">Total Price: ${{order.get_cart_total}}</h5>
                    <h5 id="total__order__qty">Total QTY: {{order.get_cart_items}}</h5>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}