{% extends 'shop_main.html' %}
{% load static %}
{% block content %}

<section id="header__img">
    <div class="header__img__main">
        <img id="header__img__main" src="{% static 'images/Cannele.png' %}" alt="Cannele">
    </div>
</section>
<!-- Main -->
<section id="main">
    <div class="title">
        <h2><span>Bread</span></h2>
    </div>
    {% for food in foods %}
    <div class="bx__wrapper">
        <ul class="food__list">
            <li class="anchor__box">
                <div class="thumbnail">
                    <a href="{% url 'food_detail' food.name %}" name="anchor__box__1">
                        <img class="anchor__box__img" src="{{food.imageURL}}">
                    </a>
                </div>
                <div class="description">
                    <strong class="name_price">
                        <a href="{% url 'food_detail' food.name %}" class="food__name">{{food.name}}</a>
                        <a href="#" class="food__price">${{food.price}}</a>
                    </strong>
                    <!-- <strong class="price">
                        <h3>${{food.price}}</h3>
                    </strong> -->
                    <hr>
                    <button data-food={{food.id}} data-action="add" class="btn btn-outline-dark add-btn update-cart"
                        id="cart_btn">Add to
                        Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'food_detail' food.name %}" id="view_btn">View</a>
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}
</section>
{% endblock content %}